In [1]:
def symmDiff(a,b):
    e=set()
    for i in a:
        if i not in b:
            e.add(i)
    for i in b:
        if i  not in a:
            e.add(i)
    return(e)

set1={0,1,2,4,5}
set2={4,5,7,8,9}
print(symmDiff(set1,set2))

print(set1.symmetric_difference(set2))
print(set2.symmetric_difference(set1))
print(set1^set2)
print(set2^set1)

{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}

In [2]:
def symmDiff(a,b,c):
    e=set()
    for i in a:
        if i not in b:
            e.add(i)
    for i in b:
        if i  not in a:
            e.add(i)
    for i in c:
        if i not in b:
             e.add(i)
    for i in c:
        if i not in a:
             e.add(i) 
    for i in a:
        if i not in c:
             e.add(i) 
    for i in b:
        if i not in c:
             e.add(i)                        

    return(e)

set1={0,1,2,4,5}
set2={4,5,7,8,9}
set3={3,4,2,1,6}
print(symmDiff(set1,set2,set3))
print(set1.symmetric_difference(set2))
print(set2.symmetric_difference(set1))
print(set1.symmetric_difference(set3))
print(set2.symmetric_difference(set3))
print(set3.symmetric_difference(set2))
print(set3.symmetric_difference(set1))
print(set1^set2)
print(set2^set1)
print(set1^set3)
print(set2^set3)
print(set3^set2)
print(set3^set1)

{0, 1, 2, 3, 5, 6, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 3, 5, 6}
{1, 2, 3, 5, 6, 7, 8, 9}
{1, 2, 3, 5, 6, 7, 8, 9}
{0, 3, 5, 6}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 3, 5, 6}
{1, 2, 3, 5, 6, 7, 8, 9}
{1, 2, 3, 5, 6, 7, 8, 9}
{0, 3, 5, 6}

In [4]:
sample={("Nabeel","Khaliq"):"4567892233",("Kamaran","Ali"):"4555932082",("Hamza","Zain"):"45678567"}
firstname = input("enter first name.. ")
lastname = input("enter second name..")
searchTuple = (firstname, lastname)
if searchTuple in sample:
    print(sample[searchTuple])
else:
    print("name not found here: ")

enter first name.. NAbeel
enter second name..Khaliq
name not found here:

In [6]:
sample={("Nabeel","Khaliq"):"4567892233" " Luddan",("Kamaran","Ali"):"4555932082" " Vehari",("Hamza","Zain"):"45678567" " Burewala"}
firstname = input("Enter First Name.. ")
lastname = input("Enter Last Name..")
searchTuple = (firstname, lastname)
if searchTuple in sample:
    print(sample[searchTuple])
else:
    print("name not found here: ")

Enter First Name.. Nabeel
Enter Last Name..Khaliq
4567892233 Luddan